body {
  background-color: #7A7A7A;
}

.box {
  background-color: black;
  color: white;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  /* position: fixed; */
  left: 0;
  right: 0;
  height: auto;
}

@media (max-height: 583px) {
  .box {
    height: 22%;
  }
}

@media (max-height: 535px) {
  .box {
    height: 24% !important;
  }
}

@media (max-height: 481px) {
  .box {
    height: 27% !important;
  }
}