* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: #323232 !important;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10% !important;
}

.text {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.sofa-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30% !important;
    left: 29%;
    right: 30%;
    bottom: 30%;
    justify-content: center;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@media screen and (max-width: 836px) {
    .text-container {
        margin-left: 5%;
        margin-top: 25% !important;
    }
}

@media screen and (max-width: 439px) {
    .text {
        font-size: 70px !important;
    }
}

@media screen and (max-width: 378px) {
    .text {
        font-size: 65px !important;
    }
    .text-container {
        margin-top: 30% !important;
        margin-left: -1% !important;
    }
    .sofa-container {
        margin-left: -7% !important;
    }
    .sofa {
        width: 22rem !important;
    }
}

@media screen and (max-width: 354px) {
    .text {
        font-size: 50px !important;
    }
    .text-container {
        margin-top: 50% !important;
        margin-left: -1% !important;
    }
    .sofa-container {
        margin-left: -7% !important;
    }
    .sofa {
        width: 22rem !important;
    }
}

@media screen and (max-width: 322px) {
    .text {
        font-size: 50px !important;
    }
    
    .text-container {
        margin-top: 40% !important;
        margin-left: -1% !important;
    }
    .sofa-container {
        margin-left: -7% !important;
    }
    .sofa {
        width: 22rem !important;
    }
}